server is not 100% http 1.1 compliant

Hi,

preamble: I am very fascinated by the spirit this API and the entire uGateway seems to have - so refreshingly open and with sometimes surprising, but conceptually superior logic (compared with well known, treaded paths) in the API.

2ndly: sorry for posting this here because it is not exactly an API issue, but only related.

But while trying to use the API, I found that the uGateways http server is not rfc7230 (nor rfc2616) compliant in a little detail that made my client library (civetweb) fail to access it:

The response status line should have a "reason phrase" after the status code (e.g. "OK" for status 200). That reason phrase can be empty, but it is not allowed to omit the space between the status code and the (possibly zero-length) reason phrase.

- uGateway sends this: `HTTP/1.1 200\r\n` which is invalid
- correct version would be: `HTTP/1.1 200 \r\n` (space before CRLF, separating empty reason phrase)

It seems that many clients don't check that detail. civetweb did, I now changed it on my end to make it work. But I thought it might be worth mentioning. Below's the relevant excerpt from rfc7230.

Now after finding and documenting that little roadblock, I can continue implementing API access for real (and not just toy around with Swagger UI 😉 )

```plain
3.1.2. Status Line

The first line of a response message is the status-line, consisting
of the protocol version, a space (SP), the status code, another
space, a possibly empty textual phrase describing the status code,
and ending with CRLF.

  status-line = HTTP-version SP status-code SP reason-phrase CRLF

The status-code element is a 3-digit integer code describing the
result of the server’s attempt to understand and satisfy the client’s
corresponding request. The rest of the response message is to be
interpreted in light of the semantics defined for that status code.
See Section 6 of [RFC7231] for information about the semantics of
status codes, including the classes of status code (indicated by the
first digit), the status codes defined by this specification,
considerations for the definition of new status codes, and the IANA
registry.

  status-code = 3DIGIT

The reason-phrase element exists for the sole purpose of providing a
textual description associated with the numeric status code, mostly
out of deference to earlier Internet application protocols that were
more frequently used with interactive text clients. A client SHOULD
ignore the reason-phrase content.

  reason-phrase = *( HTAB / SP / VCHAR / obs-text )
```
